@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Base";
    src: url("/Mona-Sans.woff2") format("woff2 supports variations"),
      url("/Mona-Sans.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 75% 125%;
  }

  @font-face {
    font-family: "Rooster";
    src: url("/Rooster.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "Pine";
    src: url("/PineForestPress.otf");
    font-weight: 500;
  }

  .image-with-shadow {
    position: relative;
  }

  .image-with-shadow:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(15, 15, 17, 0.5);
    z-index: 1;
  }

  @screen md {
    .md-pre-wrap {
      white-space: pre-wrap;
    }
  }
}
